@font-face {
  font-family: "Karrik";
  src: url("./TFF/Karrik-Regular.ttf");
  src: url("./WOFF/Karrik-Regular.woff") format("woff"),
    url("./WOFF2/Karrik-Regular.woff2") format("woff2"),
    url("./TFF/Karrik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Karrik";
  src: url("./TFF/Karrik-Regular.ttf");
  src: url("./WOFF/Karrik-Regular.woff") format("woff"),
    url("./WOFF2/Karrik-Regular.woff2") format("woff2"),
    url("./TFF/Karrik-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Karrik";
  src: url("./TFF/Karrik-Italic.ttf");
  src: url("./WOFF/Karrik-Italic.woff") format("woff"),
    url("./WOFF2/Karrik-Italic.woff2") format("woff2"),
    url("./TFF/Karrik-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Karrik";
  src: url("./TFF/Karrik-Italic.ttf");
  src: url("./WOFF/Karrik-Italic.woff") format("woff"),
    url("./WOFF2/Karrik-Italic.woff2") format("woff2"),
    url("./TFF/Karrik-Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
